<?php

define( 'DB_NAME', '{{db}}' );
define( 'DB_USER', '{{db_user}}' );
define( 'DB_PASSWORD', '{{password}}' );
define( 'DB_HOST', '{{db_ip}}' );
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );
define( 'WP_MEMORY_LIMIT', '128M' );

{{{salts}}}




$table_prefix = 'wp_';

define( 'WP_DEBUG', false );
define('FORCE_SSL_ADMIN', true)
define(‘WP_HOME’,’https://wordpress.pfaka.pp.ua’);
define(‘WP_SITEURL’,’https://wordpress.pfaka.pp.ua’);
define('RELOCATE', TRUE);
$_SERVER['HTTPS'] = 'on';


